.header {
    padding: 25px 0 0;
    background: var(--white);
}

.logo__icon {
    width: 110px;
    height: 32px;
    display: inline-block;
    overflow: hidden;
}

.header__title {
    font-family: Inter, sans-serif; 
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 37px 0 0 0;
}

.header_transparent {
    background-color: transparent;
}

.header_no_title {
    padding: 0;
    height: 82px;
}

.header_no_title > .container {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header {
<<<<<<< HEAD
        padding: 96px 0 69px;
=======
        padding: 16px 16px 0;
    }

    .logo {
        display: flex;
        justify-content:center;
>>>>>>> f3913634986050fb0d6ff93cd4a36474f22fb836
    }

    .header__title {
        font-weight: normal;
        font-size: 28px;
        line-height: 38px;
        color: var(--grey-4);
        margin-top: 48px;
    }

    .header_no_title {
        padding: 16px 0;
        background-color: #F9FAFC;
        height:auto;
    }

    .header_no_title > .container {
        display: block;
    }
}