/* Стилизация кнопки */
.button_primary,
.button_secondary,
.button_alternate {
    cursor: pointer;
    border-radius: 8px;
    font-size: 13px;
    width: 150px;
    height: 30px;
    opacity: 0.8;
}

.button_primary {
    background-color: var(--primary);
    color: var(--white);
}

.button_secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.button_alternate {
    background-color: var(--white);
    color: var(--black);
}

.button_primary:disabled,
.button_secondary:disabled,
.button_alternate:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.button_primary:not(:disabled):hover,
.button_secondary:not(:disabled):hover,
.button_alternate:not(:disabled):hover {
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;  
    opacity: 1;
}

.button_primary:active,
.button_secondary:active,
.button_alternate:active {
    font-weight: bolder;
}
