/* Стилизация кнопки */
.button {
    cursor: pointer;
    width: 182px;
    height: 48px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out; 
}

.primary {
    background-color: #4263EB;
    color: var(--white);
}

.secondary {
    background-color: var(--secondary);
    color: var(--white);
}

.alternate {
    background-color: var(--white);
    color: var(--black);
}

.primary:disabled,
.secondary:disabled,
.alternate:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.primary:not(:disabled):hover {
    background: #2342C0;
}

.secondary:not(:disabled):hover {
    background: #5028C6;
}
     
.alternate:not(:disabled):hover {
    background: #E5E5E5;
}