.calendar {
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 28px 36px;
    width: 100%;
    max-width: 316px;
  }

.calendar__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #334D6E;
    margin-bottom: 20px;
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    column-gap: 0;   
}

.calendar__item {
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #334D6E;
    display: flex;
}

.calendar__item_day {
    color: #90A0B7;
    font-size: 14px;
    margin-bottom: 20px;
}

.calendar__item_active {
    background: #4263EB;
    color: var(--white);
}

.calendar__item_between-active {
    background: #A0B1F5;
    opacity: 0.2;
    padding: 8px 9px;
}

.calendar_size_mini {
    padding: 7%;
    max-width: 170px;
    width: 170px;
    min-width: 75px;
}

.calendar_size_mini .calendar__title {
    font-size: 14px;
    line-height: 1.15;
}

.calendar_size_mini .calendar__item,
.calendar_size_mini .calendar__item_day {
    font-size: 9px;
    line-height: 1.15;
}

.calendar_size_mini .calendar__item_between-active {
    padding: 0;
}
