.skeleton {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__title {
    display: flex;
    flex-direction: row;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 32px;
    flex-grow: 0;
    flex-shrink: 0;
}

.skeleton__captions,
.skeleton__note {
    width: 100%;
}

.skeleton__captions {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 16px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skeleton__note {
    margin-top: 24px;
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
    margin-top: 8px;
}

.skeleton__line:first-child {
    margin-top: 0;
}

.skeleton__line_short {
    width: 40%;
}

.skeleton__line_longer {
    width: 60%;
}
