.skeleton {
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}

.skeleton__title {
    display: flex;
    flex-direction: row;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    background: var(--grey-2);
    border-radius: 32px;
    flex-grow: 0;
    flex-shrink: 0;
}

.skeleton__captions,
.skeleton__note {
    width: 100%;
}

.skeleton__captions {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 16px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skeleton__note {
    margin-top: 24px;
}

.skeleton__line {
    height: 20px;
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, var(--grey-2) 102.52%);
    margin-top: 8px;
}

.skeleton__line:first-child {
    margin-top: 0;
}

.skeleton__line_short {
    width: 40%;
}

.skeleton__line_longer {
    width: 60%;
}

.skeleton__avatar,
.skeleton__line_short,
.skeleton__line_longer,
.skeleton__line {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: backgroundMovement;
    animation-timing-function: linear;
    background: var(--grey-2);
    background: linear-gradient(267.58deg, var(--grey-2) 0%, var(--grey-1) 80%, var(--grey-2) 100%);
    background-size: 200%;
    display: inline-block;
}

.skeleton__note .skeleton__line {
    width: 100%;
}

@keyframes backgroundMovement {
    0% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}