.menu {
    display: flex;
    flex-direction: column;
    width: 229px;
}

.menu__title {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}

.menu__body {
    margin-top: 16px;
}

.menu__body a {
    margin-bottom: 0.25rem;
    text-decoration: none;
    cursor: pointer;
}

.menu,
.menu__body,
.modal__menu {
    display: flex;
    flex-direction: column;
}

.menu__body a:active,
.modal__menu a:active {
    color: #D84910;
}


.menu__item {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    cursor: pointer;
}

.menu__item_selected {
    color: #D84910;
    cursor: default;
}

@media only screen and (max-width: 1023px) {
    .menu {
        display: none;
    }
}